@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&display=swap');
  
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}


/* for lap-top my-size */

.share-buttons {
  /* width: 13vw; */
  /* border: solid 1px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


/* Sign up */
.signup-rectangle {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  top: 26vh;
  left: calc(50%);
  height: 55vh;
  width: 23vw;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 11px 10px 28px 0 rgba(0, 0, 0, 0.07);
}

.orange-signup-rectangle {
  margin-top: 15vh;
  height: 46vh;
  width: 50vw;
  border-radius: 2px;
  background-color: #f66c4f;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.signup-container {
  height: 26vh;
  width: 40vw;
  /* width:  */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.signup-container input {
  height: 4vh;
}
.signup-container input::placeholder {
  color: #BABABA;	
  font-family: Arial, Helvetica, san-serif;
;	
  font-size: 1.6vh;	
}
.signup-form {
  display: flex;
  width: 80%;
  /* border: 3px solid blue; */
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.name-last-container {
  height: 5vh;
  display: flex;
  flex-direction: row;
  max-width: 24vw;
  justify-content: space-between;
  /* border: solid 1px; */
}
.name-last-container input {
  width: 45%;
  height: 5vh;
}
.s-login {
  margin-top: 2vh;
  color: #000000;	
  font-family: 'Hind';	
  font-size: 5vh;	
  font-weight: bold;		
  text-align: center;
}


/*    */
.login-form-parent {
  background-color: #5ca7a7;
  height: 100vh;
  /* border: 3px solid black; */
  display: flex;
  justify-content: center;
}

.forgot-pass-parent {
  height: 8vh;
  width: 18vw;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 78%;
  /* font-family: Hind */
  font-family: "Hind", sans-serif;

;	
  /* margin-bottom: 5vh; */
}

#forgot-password {
  color: #97cfdc;
}
.see-password {
  position: relative;
  border: none;
  background: none;
  bottom: 48px;
  left: 200px;
}
.see-password:hover {
background: white;
}

.remember-me-container{
  display: flex;
  align-items: center;
}
.login-form{
  display: flex;
  /* border: 3px solid blue; */
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.inputs-login{
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}

.inputs-login-styling{
  width: 200px;
  /* height: 5vh; */
  border-radius: 5px;
  height: 5vh;
  align-self: center;
  box-shadow: none;
  border: none;
  background-color: #F7F7F7;
  padding: 1.5vh 0 3vh 0.5vw;
  align-content: center;
  outline: none !important;
  margin-left: 1vw;
}
.textarea-styling {
  width: 100%;
  /* height: 5vh; */
  border-radius: 5px;
  /* height: 5vh; */
  align-self: center;
  box-shadow: none;
  border: none;
  background-color: #F7F7F7;
  padding: 1vh 0 1vh 1.5vw;
  align-content: center;
  outline: none !important;
  margin-left: 1vw;
  margin-top: 1vh;
}
.p-login {
  margin-top: 2vh;	
  color: #000000;	
  font-family: 'Hind';	
  font-size: 5vh;	
  height: 50px;
  font-weight: bold;		
  text-align: center;
}

.inputs-login ::placeholder{
  height: 2.2vh;	
  width: 3vw;	
  color: #BABABA;	
  font-family: Arial, Helvetica, san-serif;	
  font-size: 1.6vh;	
}

.margin-input-login {
  margin-bottom: 2vh;
}

.login-rectangle {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  top: 26vh;
  right: calc(50%);
  height: 55vh;
  width: 23vw;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 11px 10px 28px 0 rgba(0, 0, 0, 0.07);
}

.orange-login-rectangle {
  margin-top: 15vh;
  height: 46vh;
  width: 50vw;
  border-radius: 2px;
  background-color: #f66c4f;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.not-signup-container {
  width: 25vw;
  max-height: 18vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
}
.not-signup-container p {
  font-size: 20px;
  
}
.not-signup-container button {
  font-family: 'Hind';
  border-radius: 27px;
  border: 2px solid #FFFFFF;
  background-color: #f66c4f;
  color: #FFFFFF;
  width: 11vw;
  height: 5.7vh;
  font-size: 13px;
}
.login-button {
  margin-top: 5vh;
  height: 5.5vh;	
  width: 18vw;	
  border-radius: 40px;	
  border: none;
  text-decoration: none;
  outline: none !important;
  background-color: #F66C4F;
}
.login-button-signup {
  margin-top: 5vh;
  height: 5.5vh;	
  width: 18vw;	
  border-radius: 40px;	
  border: none;
  text-decoration: none;
  outline: none !important;
  background-color: #F66C4F;
}
.sign-up-button {
  height: 5.4vh;	
  width: 18vw;	
  border-radius: 40px;	
  border: none;
  text-decoration: none;
  outline: none !important;
  background-color: #F66C4F;
}
.form {
  margin:-1vh;
}
.terms-conditions-div {
  padding-top: 2vh;
  font-size: 66%;
  font-family: Arial, Helvetica, san-serif;
;
  text-align: center;
}
.terms-conditions-div p:last-child {
  color: #97CFDC;
}

.login-font{
  height: 26px;	
  width: 46px;	
  color: #FFFFFF;	
  /* font-family: Hind */
  font-family: "Hind", sans-serif;
  
;	
  font-size: 13px;	
  font-weight: bold;	
  letter-spacing: 0.2px;	
  line-height: 26px;	
  text-align: center;
}

.mail-image{
  margin:0;
  position: relative;
  bottom: 1vh;
  left: -2vw;
}

/* // */

.center {
  text-align: center;
}

/*App */
.app {
  font-family: "Hind", sans-serif;
}
/*navbar
*/
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 5vh;
  width: auto;
  color: black;
  background-color: white;
  font-weight: bold;
  font-size: 10px;
  /* letter-spacing: 0.75px; */
  margin: 5vh 2vw 5vh 2vw;
  font-family: "Hind", sans-serif;
}

#logout-button {
  padding: 0;
border: none;
background: none;
}  
#shopping-cart {
  height: 2vh;
  width: auto;
  margin-bottom: 2.5vh;
}
.navbar-links {
  width: 100%;
  padding-left: calc(80%-100px);
}
#logo-rebound {
  height: 70px;
  width: auto;
}
#profile-glyph {
  height: 50px;
  width: auto;
  padding-left: 5px;
}

#logo-rebound-mobile{
  height: 50px;
  width: auto;
  position: relative;
  /* right: 40px; */
  left: 10px;
  top: 0;
  /* margin-bottom: 10px; */
}
#mystory-name {
  position: absolute;
  left: 30px;
  font-size: 150%;
}

#search-bar-glyph {
  height: 2vh;
  width: auto;
}


.nav-link{
  color: black !important;
  font-size: 15px;
}
.nav-link:hover {
  border-bottom: 1.5px solid #f66c4f; 
  cursor: pointer;
}


.icons-account-cart span {
  text-align: right;
  padding-left: 2vw;
}

.navbar-section span:hover {
  /* text-decoration: underline #F66C4F; */
  /* color: #f66c4f; */
  border-bottom: 1.5px solid #f66c4f; 
  cursor: pointer;
}

.icons-account-cart span:hover {
  color: red;
}

.nav-bar-background {
  background-color: white;
}
/* Index */
.index-page {
  margin: 0;
  /* height: 380vh; */
  background-color: white;
}
/* Expert Section */
.expert-section {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: baseline; */
  background-image: url("https://res.cloudinary.com/dpt8pbi8n/image/upload/v1594168302/Untitled.svg");
  /* margin: 0vh -10vw 0vh -10vw; */
  background-repeat: no-repeat;
  background-size: cover;
}
.expert-div {
  /* align-self: baseline; */
  height: 82%;
  width: 100%;
  /* background-image: url("https://res.cloudinary.com/dpt8pbi8n/image/upload/v1569352461/orange-bubble.svg"); */
  /* padding: 100px; */
  /* margin-right: 5vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid; */
  
}
.expert-video {
  width: 40vw;
  margin-left: 10vw;
}
#expert-message-description {
  font-size: 3vh;
  font-weight: normal;
  line-height: 3.5vh;
}
.expert-message {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  width: 60%;
}

.expert-message h1 {
  font-size: 9vh;
  /* font-family: "Hind"; */
  font-family: 'EB Garamond', serif;
  /* font-weight: bold; */
  line-height: 7.5vh;
  margin-bottom: 30px;
}


.votes {
  display: flex;
  margin-top: -15px;
}
.votes p {
  padding: 0 1vw 0 0;
  font-size: 120%;
}

#arrow {
  height: 20px;
  padding: 2px;
}


#quote-pic {
height: 3vh;
}

/* Expert Hey Hey Message */
.heyhey-expert {
  font-family: "Hind";
  height: 45vh;
  display: flex;
  flex-direction: row;
  margin: 5vh -0 5vh -0;
  background-color: #f9f8f4;
}

#expert-circle {
  height: 24vh;
  width: auto;
  background-color: #f66c4f;
  border-radius: 50%;
}

#absurd-question-image{
  /* height: 20vh; */
  width: 30vw;
  padding-right: 20px;
}

.heyhey-message {
  display: flex;
  margin-top: 3.5vh;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  /* padding-right: 2vw; */

}
.heyhey-message h1 {
  line-height: 60px;
  font-size: 25px;
  font-family: Hind;
  font-weight: bold;
}

.heyhey-message p {
  font-weight: 300px;
  line-height: 25px;
}

.heyhey-message button {
  font-family: "Hind", sans-serif;
  padding: 0 2vw 0 2vw;
  color: white;
  height: 7vh;
  width: auto;
  border-radius: 30px;
  background-color: #f66c4f;
  text-decoration: none;
  border: none;
}
#who-are-we {
  font-family: 'EB Garamond', serif;
}
/* Categories Section */
.top-categories {
  /* margin-top: 5vh; */
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.top-categories h2 {
  font-size: 7vh;
  text-align: center;
  font-family: 'EB Garamond', serif;
}
#contact-us-message {
  width: 50%;
}
/* .category-glyph-div {
  background-image: url("https://res.cloudinary.com/dpt8pbi8n/image/upload/v1566241562/Bitmap_1.png");
  background-size: 10vh;
  background-repeat: no-repeat;
  margin-left: 4vw;
} */

.category-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
  margin-top: 4vh;
  min-height: 60px;
}
.category-bar-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  width: 90%;
  /* margin-top: 4vh; */
  /* height: 10vh; */

}
.bar-categories-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}


.category-bubble{
  font-family: "Hind";
  font-size: 18px;
  padding: 0 10px 0 10px;
  color: black;
  background-color: #f9f8f4;
  height: 42px;
  min-width: 80px;
  border-radius: 20px;
  /* font-weight: 600; */
  margin: 0 0.5vw 2vh 0.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.category-bubble:hover {
  cursor: pointer;
}
 #profile-glyph {
   height: 50px;
   /* padding-left: 4px; */
 }
.category-bar p {
  font-size: 1.6vh;
  padding-right: 1vw;
}

.category-bar span:hover {
  color: white;
  background-color: #f66c4f;
  cursor: pointer;
}


.all-categories-p {
  font-size: 17px;
  font-family: Hind;
}



/* Video Section */
.video-section {
  height: 60vh;
  /* position: absolute; */
  left: 5vw;
  right: 5vw;
  margin: 8vh 0 8vh 0;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.video-message {
  /* border: 1px solid; */
  padding: 9vh 0 16vh 10vw;
  height: 100%;
  width: 50%;
}

.video-message h1 {
  font-size: 7vh;
  height: 19vh;
  width: 30vw;
}
.video-message p {
  height: 8vh;
  width: 15vw;
  font-family: Arial, Helvetica, san-serif;
;
  color: #5BA5A6;
}

#video-about-us-container {
  /* border: 1px solid; */
  margin: 4vh 0 0 -5vw;
}

#video-start {
  height: 10vh;
  position: relative;
  top: 150px;
  left: 45px;
}

/* Donate Section */
.donate-margin {
  display: flex;
  justify-content: center;
}
.donate-section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  width: 90%;
  top: 84vh;
}
.donate-message h2 {
  /* font-family: Hind */
  font-family: "Hind", sans-serif;
  font-weight: 300;
  padding-bottom: 2.5vh;
}

.donate-message p {
  font-family: Arial, Helvetica, san-serif;
;
  color: #5BA5A6;
}
.donate-buttons {
  display: flex;
  flex-direction: row;
  width: 27vw;
  justify-content: space-between;
  padding-top: 1vh;
}
.donate-buttons p {
  font-family: "Hind", sans-serif;
  font-size: 75%;
  display: flex;
  align-content: center;
  border-radius: 30px;
  text-decoration: none;
  /* border: none; */
  /* height: 4vh;	 */
  width: auto;
  padding: 1.3vh 2vw 1.3vh 2vw;
  font-weight: bold;
}
.donate-buttons p:first-child {
  background-color: #f66c4f;
  color: white;
}
.donate-buttons p:last-child {
  background-color: white;
  color: #f66c4f;
  border: 1px solid #f66c4f;
}
#donate-image {
  height: 100%;
  width: 30vw;
}
.thank-you-page {
  height: 90vh;
  margin-top:10vh;
}

.thank-you-div {
  height: 100%;
  background-image: linear-gradient(#f66c4f, #5BA5A6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thank-you-div h1 {
  color: white;
  font-family: 'EB Garamond', serif;
  
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* position: absolute; */
  /* bottom: 0; */
  left: 0;
  height: 12vh;
  width: 100%;
  background-color: #f3f2eb;
  font-family: "Hind", sans-serif;
}
#donate-footer {
  display: flex;
  align-content: center;
  border-radius: 27px;
  text-decoration: none;
  justify-content: center;
  /* border: none; */
  /* height: 4vh;	 */
  width: 8vw;
  padding: 1.3vh 2vw 1.3vh 2vw;
  font-weight: bold;
  color: #f66c4f;
  border: 2px solid #F66C4F;
}
.logo-div {
  width: 50vw;
  padding-left: 2vw;
}
.logo-copywrite {
width: 15vw;
display: flex;
flex-direction: row;
flex-wrap: wrap;
font-size: 60%;
}
.nav-footer {
padding-left: 3.5vw;
width: 80%;
display: flex;
/* justify-content: center; */
font-family: Hind;
align-items: center;
}
.nav-footer p {
  padding-right: 2vw;
}
.important-info {
  width: 80%;
  padding-right: 2vw;
  display: flex;
justify-content: flex-end;
  align-items: center;
}
.important-info p {
  padding-right: 2vh;
  font-size: 80%
}

.footer-container div {
  display: flex;
  flex-direction: row;
}

.feedback-submit-button{
  margin-top: 5vh;
  height: 5.5vh;	
  width: 100px;	
  border-radius: 40px;	
  border: none;
  text-decoration: none;
  outline: none !important;
  background-color: #F66C4F;
}


.heading-pop-up {
  text-align: center;
}
.heading-pop-up p {
  color: #5BA5A6;
}
.styles_modal__gNwvD {
  background-color: #f3f2eb;
  font-family: "Hind", sans-serif;
  width: 60%;
}
#pop-up-bttn {
  background-color: #F66C4F;
  color: white;
}
#question-modal {
margin: 2vh 0 0 0;
}
#number-bar {
  /* border: 1px solid; */
  width: 100%;
}
.questions-pop-up {
  /* border: 1px solid; */
  width: 100%;
  text-align: justify;
  justify-content: space-around;
}
.button-div{
  display: flex;
  justify-content: center;
}
.yes-no input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #F66C4F;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #5BA5A6;
}


/*
test cards new ones
*/


.expert-card {
  height: 43vh;
  width: 24vw;
}
.top-card {
  height: 3vh;
  position: relative;
  bottom: 44vh;
}
.product-card-bubble:hover .quote-hover {
  display: none;
}




.product-card-bubble:hover {
  /* transition: 0.5s; */
  margin: -25px 0 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 50%;
  min-height: 44vh;
  min-width: 25vw;
  position: relative;
  top: 5vh;
  right: 5vw;

  /* box-shadow: -10px -4px 10px 0 rgba(0,0,0,0); */
  background-color: #f7f7f7;
  filter: none !important;

}
.product-card-bubble {
  /* align-self: flex-end; */
  padding: 0 2vw 1.5vh 0;
  border-radius: 50%;
  height: 145px;
  min-width: 145px;
  position: relative;
  top: 23vh;
  right: -3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: -10px -4px 10px 0 rgba(0, 0, 0, 0); */
  background-color: #f7f7f7;
}
#name-votes {
  display: flex;
  color: white;
  flex-direction: column;
  padding-left: 0.5vw;
  align-self: flex-end;
  min-width: 8vw;
  min-height: 12vh;
  max-height: 5vh;
  /* border: 1px solid red; */
}

#name-card {
  font-size: 120%;
  display: flex;
  flex-direction: row;
  min-width: 12vw;
}

/*
test cards new ones - REVIEW
*/
.review {
  transform: scale(0.8);
}
.cards-review {
  display: flex;
  flex-direction: row;
  /* border: 1px solid; */
}

.about-heading-div {
  /* height: 19vh; */
  margin-top: 15vh;
  width: 100%;
display: flex;
justify-content: center;

  /* margin-right: 10vw; */

}
.about-heading {
  /* height: 19vh; */
  width: 90%;
  text-align: center;
  /* margin-top: 15vh; */

  /* margin-right: 10vw; */

}
#nav-word {
  text-align: center;
  font-size: 20px;
  border-bottom: 0.5px solid;
}
.about-heading span {
  /* display: inline; */
  font-family: Hind;
  font-size: 60px;
}
#overall-expirience{
  display: inline;
}
.about-description {
  /* height: 30vh; */
  width: 100%;
  /* margin-bottom: 5vh; */
  height: 15vh;
  display: flex;
  justify-content: center;
}
.description-about {
  /* font-family: Arial, Helvetica, san-serif; */
  width: 80%;
  text-align: justify;
}
.about-who-are-we {
  /* height: vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.who-title {
display: flex;
flex-direction: column;
width: 100%;
align-items: center;
}
.who-title div {
  width: 80%;
}
#who-description {
  /* width: 40%; */
  /* height: 10vh; */
  /* margin-left: 12vw; */
  /* line-height: 30px; */
  font-family: Arial, Helvetica, san-serif;
  text-align: justify;
}

.about-workers-container {
  height: 48vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2vh 12vw 0 12vw;
}
#about-picture {
  height: 300px;	
  width: auto;
}
.about-workers-card {
  /* height: 20vh; */
  width: 30vw;
  /* margin-right: 3vw;  */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.about-worker-name {
  padding-left: 1vw;
}
.about-worker-name h1{
  font-family: Hind;
  line-height: 34px;
  font-weight: bold;
  font-size: 2.5vh;
}

.about-donate-container {
  display: flex;
  justify-content: center;
  margin: 8vh 15vw 0 15vw;

}
.about-donate-section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  width: 90%;
}
.main-image{
  height: 300px;
  width: auto;
  /* position: relative; */
  /* left: 7vw; */
}
#image-circle {
  height: 10vh;
  width: 5.6vw;
  border-radius: 50%;
  background-color: #F9F8F4;
  position: relative;
  left: 22vw;
  top: 6vh;
  box-shadow: -11px 4px 20px 0 rgba(0,0,0,0.05);
  border: 2px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
#image-circle2 {
  height: 10vh;
  width: 5.6vw;
  border-radius: 50%;
  background-color: #F9F8F4;
  position: relative;
  left: 14vw;
  top: 16.5vh;
  box-shadow: -11px 4px 20px 0 rgba(0,0,0,0.05);
  border: 2px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
#image-circle3 {
  height: 10vh;
  width: 5.6vw;
  border-radius: 50%;
  background-color: #F9F8F4;
  position: relative;
  left: 5vw;
  top: 26vh;
  box-shadow: -11px 4px 20px 0 rgba(0,0,0,0.05);
  border: 2px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
#options-pictures {
  height: 4vh;
  width: 3vw;
}
.product-detail-page {
  height: 120vh;
}
.product-first-section{
/* border: 1px solid black; */
height: 60vh;
display: flex;
flex-flow: row wrap;
justify-content: space-between;
}

#product-pictures-circle {
  height: 80vh;
  width: 50vw;
  border-radius: 50%;
  background-color: #F9F8F4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 28vh;
  right: 8vw;
}
#product-pictures {
  height: 100%;
  width: 40%;

}
#product-description {
  width: 50%;
  border:1px black;
}
#product-description > div {
  width: 80%;
}
#product-model {
  font-size: 6.5vh;
}
#product-number1 {
  font-size: 1.6vh;
  font-weight: bold;
  letter-spacing: 0.2px;
  padding-right: 0.5vw;
  color: black;
}
#product-number {
  font-size: 1.6vh;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: #BABABA;
}
.product-description-div {
  width:45vw;
}
#product-description {
  font-family: Arial, Helvetica, san-serif;
;
  color: #5BA5A6;
  font-size: 2vh;
}
.product-number-div {
  display: flex;
  flex-direction: row;
}
#product-prize {
  font-size: 3vh;
  font-weight: bold;
  color: #F66C4F;
  font-family: Arial, Helvetica, san-serif;
;
}
.specification {
  width: 60vw;
  display: flex;
  flex-direction: column;
  margin: 0 20vw 5vh 20vw;
}
.specification h2 {
  margin-bottom: 2.5vh;
  margin-left: 3vw;
}
.specification div {
  width: 100%;
display: flex;
flex-flow: row wrap;
justify-content: flex-start;
align-items: flex-start;
}
.specification li {
  font-family: Arial, Helvetica, san-serif;
;
  font-size: 2vh;
  line-height: 26px;
}

.specification ul {
  list-style:none;
}
.specification li::before {
content: "•";
color: red;
margin-right: 1vw
}

.product-expert-quote {
  height: 20vh;
  margin: 0 20vw 0 20vw;
  display: flex;
  flex-direction: row;
}
.product-expert-picture {
  height: 100%;
  width: 10vw;
}
#expert-quote-picture {
  height: 10vh;
  width: auto;;
  border-radius: 200%;
  margin-bottom: 1vh;
  margin-left: 1vw;
}
#profile-picture {
  height: 7vh;
  width: auto;;
  border-radius: 200%;
  margin-bottom: 1vh;
  margin-left: 1vw;
}
.product-backed-by {
  /* width: 50%; */
  margin: 0 20vw 0 20vw;
  display: flex;
  flex-direction: column ;
  /* align-content: center; */
}
.product-backed-by div {
  display: flex;
  flex-direction: row ;
  align-items: center;
}
.product-expert-picture div {
  display: flex;
  justify-content: center;
  padding: 0 1vw 0 1vw;
}
#quotes-air {
  background-color: gray;
}
.expert-quote {
  margin-left: 1vw;
}

.expert-quote p {
  font-size: 2.3vh;
  font-family: Arial, Helvetica, san-serif;
;
  padding-top: 2vh;
}
.link-review-div {
  display: flex;
  flex-flow: row wrap;
  height: 3vh;
}
#link-to-review {
  color: #97CFDC;
  font-size: 1.8vh;
  font-weight: bold;
  font-family: Hind;
}
#arrow-right {
  /* display: inline; */
  height: 3.5vh;
  margin-top: 1.4vh;
  width: auto;
  transform: rotate(-90deg);
}
.about-page {
  margin-top: 200px 2.5vw 0 2.5vw;  
}
.contact-page {
  height: 90vh;
  margin: 5vh 5vw 0 5vw;
}
.instagram {
  height: 3vh;
}
.contact-page h1{
  font-family: Hind;	
  font-size: 8vh;	
  font-weight: bold;	
  line-height: 8vh;
  /* margin: 100px 0 8vh 0; */
  padding-top: 100px;
}
.contact-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid; */
  /* height: 400px; */
}
.contact-inputs {
  width: 50%;
  height: 30vh;
}
.submit-button {
  font-weight: bold;
  font-size: 90%;
  color: white;
  height: 5.4vh;	
  width: 100px;	
  border-radius: 40px;	
  border: none;
  text-decoration: none;
  outline: none !important;
  background-color: #F66C4F;
}
.contact-button {
  margin-top: 1vh;
  width: 300px;
 text-align: right;
}
.contact-address {
  /* border: 1px solid; */
  /* height: 30vh; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.terms-page {
  margin: 0 9vw 0 9vw;
}
#terms-heading {
  font-family: Hind;
  margin: 15vh 0 5vh 0; 
  font-size: 8vh;
  line-height: 8vh;
}
.terms-first-p-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.terms-first-p {
  font-family: Arial, Helvetica, san-serif;
  color: #5BA5A6;
  width: 60%;
  font-size: 2vh;
  margin-right: 14vw;
}
.terms-inform-div{
  margin: 5vh 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.terms-inform {
  width: 60%;
  margin-right: 14vw;
  font-size: 2vh;
}
.terms-content {
  width: 11.2%;
}
.terms-contact {
  margin-top: 5vh;
  color: #5BA5A6;
  font-family: Arial, Helvetica, san-serif;
  font-size: 1.8vh;
  line-height: 1vh; 
}
#content-head {
  font-size: 150%;
}
#content-content {
  font-size: 1.8vh;
  font-weight: bold;
  color: black;
}
#content-content:hover {
  cursor: pointer;
  text-decoration: underline #F66C4F;
}


.clicked-show {
  line-height: 30px;
  padding: 0;
  border: none;
  background: none;
  border-bottom: 1.5px solid #f66c4f; 
  outline: 0 !important;
}

.recommend-div p {
  font-family: Hind;
  font-weight: medium;
  font-size: 14px;
  color: #f66c4f;
}
.technique-form-inputs {
  display: flex;
  
}

/* OPEN OR CLOSE container */

.admin-panel-influencer {
  border: solid gray;
  width: 35vw;
}
#survival-kit-button {
  margin-right: 20px;
  box-sizing: border-box;	
  height: 52px;	
  width: 180px;	
  border: none;
  color: white;	
  font-size: 14px;	
  font-weight: bold;	
  letter-spacing: 0.2px;	
  line-height: 26px;
  border-radius: 27px;
  background-color: #5ca7a7;
}

.books-section {
  margin-top: 5vh;
}
.books-section h2 {
  font-size: 25px;
  text-align: center;
}
.book-button {
  width: 130px;
  height:35px;
  margin-top: 5px;
}
.book-button-recommend {
  width: 90px;
  height:35px;
  padding: 0;
  margin-bottom: 30px;

}
.book-container {
  margin-top: 2vh;
  /* max-width: 700px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.book-card {
  /* padding: 2px 0 6px 0; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  width: 150px;
}
.book-card p {
  font-size: 12px;
  text-align: center;
  width: 100%;
  /* padding: 0 1vw 0 1vw; */
}
.open {
  height: 350px;
}

#survival-kit-button2 {
  /* margin-right: 20px; */
  box-sizing: border-box;	
  height: 52px;	
  width: 180px;	
  border: none;
  color: white;	
  font-size: 14px;	
  font-weight: bold;	
  letter-spacing: 0.2px;	
  line-height: 26px;
  border-radius: 27px;
  background-color: #5ca7a7;
  position: relative; 
  left: calc(50% - 90px);
   top: 50px;
}
#survival-kit-button1 {
  /* margin-right: 20px; */
  box-sizing: border-box;	
  height: 52px;	
  width: 180px;	
  border: none;
  color: white;	
  font-size: 14px;	
  font-weight: bold;	
  letter-spacing: 0.2px;	
  line-height: 26px;
  border-radius: 27px;
  background-color: #f66c4f;
}
.input-group {
  padding-top: 3vh; 
  display: flex;
  /* justify-content: baseline; */
  flex-direction: row;
  max-width: 150px;
  color: #BABABA;	
}
.input-group select {
  color: #BABABA;	

}
.input-group p {
  padding-right: 1vw;
  padding-top: 2vh;
  color: #BABABA;	
  font-family: Hind;	
  font-size: 14px;	
  font-weight: 600;	
  /* line-height: 23px; */
}
.cart-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* border: 1px solid; */
  width: 100%;
  padding-top: 3vh;

}
.cart-price p {
  color: #000000;	
  font-family: Hind;	
  font-size: 18px;
}
.cart-delete {
 margin: -10vh 0 0 87vw;
 border: none;
 background: none;
 height: 20px;	width: 20px; color: #BABABA;
 font-size: 120%;
}
.cart-checkout-div {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 10vh;
}
.cart-checkout-div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 6vw;
}
#cart-total {
  padding-right: 1vw;
  font-size: 16px;
}
.cart-checkout-div p:last-child {
  font-size: 25px;
  font-weight: bold;
}
#cart-checkout {
  height: 50px;	width: 200px;
  border-radius: 27px;	background-color: #F66C4F;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  /* letter-spacing: 0.2px; */
  line-height: 26px;
}

.order-summary-container {
  height: 530px;	
  width: 310px;

  position: absolute;
  top: 33vh;
  right: 12vw;

}
.order-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 0.5px solid #BABABA;
  font-family: Hind;
  margin-bottom: 2vh;
}
.order-title h2 {
  font-size: 22px;	
  font-weight: bold;	
}
.order-title p {
  color: #F66C4F;
  font-size: 14px;
}

#rebound-footer-logo {
height: 50px;
width: auto;
}
.logo-copywrite {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

/* NavBar phone */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 30px;
  left: 25px;
  top: 25px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.menu-profile-div {
  min-height: 40px;
  min-width: 100px;
  /* border-bottom: solid; */
}
.menu-profile-image {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
#menu-profile-name {
  font-weight: bold;
  font-size: 25px;
  color: #F66C4F;
}
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  /* color: #b8b7ad; */
  padding: 0.8em;
  text-decoration: none;
  font-size: 30px;
  font-family: Hind;
}
.bm-item-list a{
  color: white;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
#mobile-nav {
  /* border-bottom: 2.5px solid #F66C4F; */
  font-family: Hind;
  font-weight: bold;
  margin-left: -40px;
  padding-bottom: 5px;
  padding-top: 5px;

  border-bottom: solid;

}
.navbar-burder-div {
  height: 14vh;
  /* padding-bottom: 10px; */
  width:100%;
  background-color: #f7f7f7;
  overflow: hidden;
}
.navbar-burder-div a:last-child {
  margin-top: 2vh;
}

/* //FIN DEL NAVBAR MOBILE */

#login-nav {
  min-width: 35px;
  margin-right: 5px;
}
.checkout-page {
  margin: 0 12vw 0 12vw;
  height: 100vh;
}
.checkout-container {
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 4vh;
}
#checkout-clicked {
  color: black;
}
.checkout-container div {
  padding-left: 2vw;
  display: flex;
  flex-direction: row;
  font-family: Hind;	
  font-size: 10px;	
  font-weight: 600;	
  letter-spacing: 0.4px;	
  /* line-height: 23px; */
}
.checkout-timeline p {
  padding-left: 1vw;
  color: #BABABA;
}
#checkout-clicked {
  color: black;
}
.checkout-container h2 {
  margin-right: 1vw;
  font-family: Hind;	
  font-size: 70px;	
  font-weight: bold;	
  /* line-height: 132px; */
}
.checkout-address-input {
width: 600px;
height: 260px;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.checkout-address-input2 {
  width: 600px;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkout-address-input2 p{
  margin-bottom: -1px;
  font-weight: bold;
 font-family: Hind;	font-size: 14px;
 }

 .checkout-font{
  font-weight: bold;
  font-family: Hind;	font-size: 14px;
 }

 .checkout-font-a{
  color: #F66C4F;
  font-weight: bold;
  font-family: Hind;	
  font-size: 14px;
 }

 .checkout-font-a:hover{
  text-decoration: none;
  color: #F66C4F;
 }

 

 .checkout-address-input2 div{
 width: 50%;
 margin-right: 2vw;
 
 }

.checkout-address-input p{
  margin-bottom: -1px;
  font-weight: bold;
 font-family: Hind;	font-size: 14px;
 }
 .checkout-address-input div{
 width: 50%;
 margin-right: 2vw;
 
 }
#checkout-personal {
  width: 100%;
  font-family: Hind;	font-size: 28px;	font-weight: bold;
}

#checkout-input {
margin-right: 100px;
margin-bottom: 2vh;
}

.checkout-card{
  margin-right: 40%;
  margin-top: 1.5%;
}

.shipping-confirmation p{
  margin: 0px;
  font-family: Hind;	
  font-size: 12px;
}

.shipping-checkout-div{
  margin-top: 5%;
}



#checkout-input2 {
  margin-right: 100px;
  width: 15%;
  margin-bottom: 2vh;
}
.order-item-container {
  height: 100px;
  width: 100%;
  border-bottom: 0.5px solid #F3F2EB;
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
}
.order-picture-div {
  height: 70px;	
  width: 70px;
  background-color: #F7F7F7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2vw;
}
#order-image {
  height: 48px;	
  width: auto;
}
.order-item-model {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.order-item-model p:last-child {
  font-size: 14px;

}
.order-item-model p:first-child {
  font-family: Hind;	
  font-size: 14px;

}
.order-item-model div{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 font-size: 14px;
}
.winner {
  margin-top: 1vh;
}
.winner p:last-child{
  color: #F66C4F;
  font-size: 22px;
}
.order-price p:last-child {
  color: #F66C4F;
}
.order-review-card {
  align-self: flex-end;
  height: 120px;	
  width: 104%;
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: flex-end;

}

.order-review-card div{
  display: flex;
  height: 25px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;

}
.order-subtotal p {
  font-size: 14px;	
  font-weight: 600;
  margin-bottom: 2.5vh;
}
.order-subtotal p:first-child {
  padding-left: 6.5vw;
  font-family: Hind;	
}

.p-product-info-div {
  display: flex;
  text-align: flex-start;
  flex-direction: column;
  width: 90%;
  max-height: 55px;

}
#product-card-name {
  font-family: Hind;	
  font-size: 16px;	
  font-weight: bold;
}
#product-card-price {
  color: #F66C4F;	
  font-size: 22px;	
  font-weight: 500;
}
.index-best-book-div {
  min-height: 60vh;
  width: 100%;
  /* margin-top: 8vh; */
  margin: 10vh 0 10vh 0;
}
.index-best-book-div-book {
  min-height: 60vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* margin-top: 8vh; */
  margin: 10vh 0 10vh 0;
}
.best-book-header {
  text-align: center;
}
.best-book-header h2 {
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  /* font-size: 55px; */
  font-size: 7vh;

}
.best-book-header h1 {
  text-align: center;
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  font-size: 7vh;

}
.best-book-info-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
}
.best-book-info-div-book {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
}
#see-all-podcast{
  text-decoration: underline;
  margin-top: 100px;
  margin-left: calc(50% - 90px);
}
.best-book-pictures {
  width: 35%;
  /* display: flex;
  flex-direction: row; */
}
#best-book-cover {
  height: 300px;
  width: auto;
  /* border-radius: 25px; */
  /* padding-right: 60px; */
  /* padding-left: 90px; */
  background-color: #F7F7F7;
}
#best-book-author {
  height: 250px;
  width: auto;
  border-radius: 25px;
  /* border-radius: 50%; */
  /* position: relative;
  bottom: 60px;  
  left: 210px; */
}
#podcast-guest {
  height: 380px;
  width: auto;
  border-radius: 25px;
  position: relative;
  left: 150px;  
  overflow: none;
}
.best-book-title-div {
  margin-top: 2vh;
  max-width:60%;
}
.best-book-title-div h2 {
  font-family: Hind;
  font-weight: bold;
  font-size: 30px;
}
#best-author-p {
  font-weight: bold;
  font-size: 15px;
}
#best-description-p {
  font-size: 15px;
}
.best-book-title-div button {
  font-family: "Hind", sans-serif;
  font-weight: bold;
  padding: 0 2vw 0 2vw;
  color: white;
  height: 60px;
  width: 200px;
  border-radius: 30px;
  background-color: #f66c4f;
  text-decoration: none;
  border: none;
}
#dropdown-basic{
  background-color: white;
  color: black;
  padding: 0;
border: none;
background: none;
}
.dropdown-menu {
color: black;
}
.dropdown-account-nav {
  padding-left: 1vw;
  margin-left: 3vw;
  font-family: Hind;
  color: black;

}

.profile-page {
  margin: 0 12vw 0 12vw;
  display: flex;
  flex-direction: column;
}
.category-card {
  background-color: red;
  border-radius: 100%;
  height: 30px;
  width: 90px;
  display: flex;
}
.profile-profile-menu {
  display: flex;
  justify-content: center;
  width: 100%;
}
.profile-account-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-dashboard-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
}
.product-kit-page {
  width: 100%;
}

.profile-dashboard-div h1 {
  font-size: 30px;
  margin-right: 10px; 
}
.video-youtube {
  width: 100%;
  height: 380px;
}
.create-survival-kit-div {
  width: 30vw;
  border: 1px solid;
}
.list-survival {
  border-bottom: solid gray;
}
.technique-list-page {
  border: solid;
}
.create-survival-page {
  display: flex;
  flex-direction: row;
}
.cart-div {
  /* border: solid; */
  display: flex;
  padding-left: 10px;
  align-items: center;
  padding-top: 15px;
}
.podcast-all-page {
  margin: 15vh 12vw 0 12vw;
  background-color: white;
  /* height: auto; */
}
.podcast-image-div {
  /* width: 2%; */
  height: 100%;
  /* border-top-right-radius: 120px;
  border-bottom-right-radius: 120px; */
  overflow: hidden;
}
#podcast-thumbnail-image {
  /* width: 100%; */
  /* padding-bottom: 50px; */
  height: 100%;
}
.podcast-outer-card {
  width: 100%;
  height: 185px ;
  display: flex;
  flex-direction: row;
  background-color: #F7F7F7;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-bottom: 2vh;
}
.podcast-outer-card:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.podcast-outer-card:hover #podcast-thumbnail-image {
  transform: scale(1.2);
  transition: transform .5s ease;
}
.podcast-information {
  width: 90%;
  height: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.podcast-description-div {
  height: 60%;
}
.podcast-description-div p {
  line-height: 19px;

}
.podcast-description-div p:first-child {
  font-size: 18px;
  font-weight: bold;
  color: #5ca7a7;
}
.podcast-heading-div {
  padding-right: 10px;
  padding-top: 10px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.podcast-heading-div h2 {
  font-family: "Hind";
  /* font-weight: bold; */
  font-size: 30px;
}
.profile-tip-div {
  height: 200px;
  width: 200px;
  border: solid;
}
.podcast-detail-page {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15vh 5vw 0 5vw;
}
.video-youtube-podcast {
  width: 80%;
  height: 70vh;
}
.podcast-categories {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.podcast-header-div {
  margin-top: 2vh;
  padding: 0 10vw 0 10vw;
  width: 100%;
  height: 20vh;
  line-height: 15px;
  /* background-color: #f9f8f4; */
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.podcast-header-div h1 {
  font-size: 45px;
  font-family: "Hind";
  font-weight: bold;
}
#categories-podcast {
  font-size: 15px;
  color: #5ca7a7;
  margin-right: 10px;
}
.podcast-header-div h2 {
  font-size: 20px;
  font-family: "Hind";
  font-weight: bold;
}
.name-and-share {
  display: flex;
  justify-content: space-between;
}
.podcast-detail-description-div {
  margin-top: 5vh;
  width: 80%;
}
.podcast-detail-description-div h2 {
  font-size: 3.5vh;
}
.podcast-detail-kit-div {
  /* margin: 0 12vw 0 12vw; */
  width: 50%;
}


.profile-dashboard-kits {
  align-self: flex-start;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.settings-container {
  width: 70%;
}
.settings-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 0.5px solid;
}
.settings-div-password {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 0.5px solid;
  height: 280px;
}
.opened {
  height: 150px;
}
.settings-options-div {
  display: flex;
  flex-direction: row;
  width: 68%;
  justify-content: space-around;
}

.settings-options-div-password {
  display: flex;
  flex-direction: row;
  width: 68%;
  justify-content: space-between;
}

.settings-input {
  display: flex;
  align-items: baseline;

}
.settings-option-name {
  width: 30%;
}
#button-save {
  background-color: #5BA5A6;
  color: white;
  margin-right: 20px;
}
#email-settings {
  color: gray;
}
.podcast-title-div {
  /* height: 40vh; */
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  /* margin-top: 80px; */
}

.podcast-title-div h1 {
  font-size: 8vh;
  font-family: 'EB Garamond', serif;

}
.podcast-subscribe {
  height: 40px;
  width: 40px;
  margin-left: 5px;
}
.podcast-embed {
  margin-top: 50px;
}
.email-div {
/* margin-top: 20px; */
margin-bottom: 55px;

  height: 180px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.email-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  width: 480px; 
  /* border: 1px solid; */
  padding: 10px 1vw 10px 1vw;
  /* align-self: center; */
}
.email-box div {
  display: flex;
  justify-content: space-between;
  /* border: solid 1px; */
  width: 100%;
}
#input-newsletter {
  height: 30px;
}
#subscribe-input {
  width: 300px;
}
#subscribe-button {
  margin-top: 1vh;
    box-sizing: border-box;
    height: 48px;
    width: 120px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    /* letter-spacing: 0.2px; */
    /* line-height: 26px; */
    background-color: #5ca7a7;
    /* border-width: initial; */
    /* border-style: none; */
    border-color:#f66c4f;
    /* border-image: initial; */
    border-radius: 27px;
}
#subscribe-button:hover {

    color: white;
    background-color: #f66c4f;
    border-color:#5ca7a7;

}
.share-div {
  display: flex;
  flex-direction: row;
  width: 160px;
  /* border: 1px solid; */
  justify-content: space-evenly;
  align-items: baseline;
}
.show-notes-div {
  width: 80%;
}
.show-notes-div h2 {
  font-size: 3.5vh;
}
.subscribe-box {
  margin-bottom: 30px;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.subscribe-div {
  margin-bottom: 30px;
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-start;
}
.show-notes-ul {
  list-style: none;
}
.show-notes-ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #5ca7a7;
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.subscribe-podcast {
  margin-top: 30px;
  /* width: 80%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}
.subscribe-div h2 {
  font-size: 3.5vh;
}
.subscribe-div p {
  width: 100%;
}
.line-after-subscribe {
  border-bottom: 1px black;
  width: 80%;
}
.line-full {
  border-bottom: 1px black;
  width: 100%;
}
.subscribe-detail-div {
  width: 80%;
}
.container-subscribe {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.podcast-recomendation {
  width: 50%;
  /* height: 370px; */
  padding: 10px 5px 5px 10px;
  /* background-color: #5BA5A6; */
  color: white;
}
.podcast-recomendation h3{
  font-size: 3vh;
  font-family: Hind;
  text-align: center;
}
.box-recomendation {
  width: 100%;
  /* height: 350px; */
  padding: 10px 5px 5px 10px;
  background-color: #5BA5A6;
  color: white;
  border-radius: 10px;
}
#white-line {
  background-color: white;
}
.container-subscribe-podcast-recommendation {
  /* width: 100%; */
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;

}
.loader-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
.create-influencer-page {
  margin-top: 100px;
}
.create-podcast-page {
  margin-top: 100px;
}